<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

  </head>
  <body>

	<div class="chat_window" style="margin-top: 10px;">
		<div class="top_menu">
            <div class="buttons">
                <a class="btn btn-danger">Help Me</a>
            </div>
			<div class="title">Hector</div>
		</div>
			<ul class="messages"></ul>
			<div class="bottom_wrapper clearfix">
			<div class="message_input_wrapper">
				<input class="message_input" placeholder="Type your message here..." />
			</div>
			<div class="send_message">
				<div class="icon"></div>
				<div class="text">Send</div>
			</div>
		</div>
	</div>
	<div class="message_template_left">
		<li class="message">
			<div class="avatar">
				<img id="hector" src="/images/hector.jpg" class="img-circle" width="60" height="60">
			</div>
			<div class="text_wrapper">
				<div class="text"></div>
			</div>
		</li>
	</div>

    <div class="message_template_right">
        <li class="message">
            <div class="avatar">
                <img id="user" src="/images/jesse.jpg" class="img-circle" width="60" height="60">
            </div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>

	<!--footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Hello Hector</p>
      </div>
    </footer-->

  </body>

  <script src='/javascripts/jquery-3.1.1.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>

  <script type="text/javascript">
 (function () {

    var Message;
    Message = function (arg) {
        this.text = arg.text, this.message_side = arg.message_side;
        this.draw = function (_this) {
            return function () {
                var $message;
                if(_this.message_side == 'left'){
                    $message = $($('.message_template_left').clone().html());
                }else{
                    $message = $($('.message_template_right').clone().html());
                }   
                $message.addClass(_this.message_side).find('.text').html(_this.text);
                $('.messages').append($message);
                return setTimeout(function () {
                    return $message.addClass('appeared');
                }, 0);
            };
        }(this);
        return this;
    };

    $(function () {
        var getMessageText, sendMessage, type;

        var type="<%= type%>";
        
        var token;

        getMessageText = function () {
            var $message_input;
            $message_input = $('.message_input');
            return $message_input.val();
        };

        sendMessage = function (text, side) {
            var $messages, message;
            if (text.trim() === '') {
                return;
            }
            $('.message_input').val('');
            $messages = $('.messages');
            message_side = side;
            message = new Message({
                text: text,
                message_side: message_side
            });
            message.draw();
            return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        };

        var init  = function(){
            $.ajax({
                url:'https://login.microsoftonline.com/d6d49420-f39b-4df7-a1dc-d59a935871db/oauth2/v2.0/token',
                type:'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function(obj) {
                    var str = [];
                    for(var p in obj)
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    return str.join("&");
                },
                data: {'grant_type':'client_credentials',
                    'client_id':'63df6ce0-b163-419e-a8b0-48cfd615646',
                    'client_secret':'tfCi9cmMBywRVn7d2QAJo97'
                    'scope':'https://api.botframework.com/.default'
                },
                success: function(data){  
                    console.log(data);
                }
            });
        }

        var post = function(){
            var postdata = {
                message:getMessageText
            };

            $.post('https://hector-help-bot.azurewebsites.net/api/messages', postdata).
                done(function(data){
                    sendMessage(getMessageText(),'right');
                    setTimeout(function () {
                        return sendMessage(data.response,'left');
                    }, 1500);
                });
        }

        $('.send_message').click(function (e) {
            return post();
        });

        $('.message_input').keyup(function (e) {
            if (e.which === 13) {
                return post();
            }
        });

        init();

        setTimeout(function () {
            return sendMessage('Hello, My name is Hector! How can I help?','left');
        }, 1500);

    });
}.call(this));
  </script>

</html>