<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

	<div class='container' style="margin-top: 100px">
		<div class='row'>

		<div class="well">
			<h2 id='title'>
			</h2>
			<br/>
			<h4>This is a safe and secure place full of people to help support you.</h4>
			<hr/>
			<h4>Comments: </h4>
			<br/>
			<div id="comments">
			</div>
			<br/>
			<div class="row">
				<div class="col-md-7 col-xs-7">
					<input id="commentInput" class="form-control" placeholder="Write your comment... " type="text" name="comment">
				</div>
				<div class="col-md-3 col-xs-3">
					<button id="commentButton" type="button" class="btn btn-success">Submit</button>
				</div>
			</div>
		</div>
		</div>
	</div>
  </body>

  <script src='/javascripts/jquery-3.1.1.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>

  <script type="text/javascript">

		var submitComment = function() {
		    $("#comments").append("<span>" + $("#commentInput").val() + "</span>");
		}

  	(function () {

  		function capitalizeFirstLetter(string) {
		    return string.charAt(0).toUpperCase() + string.slice(1);
		}

  		$(function () {
  			var category = "<%=category%>";

			$("#title").text("This is a Hector Help forum for issues surrounding " + capitalizeFirstLetter(category));

			$("#commentButton").click(function (e) {
	            $("#comments").append("<span>" + "  <strong>user</strong> &nbsp;&nbsp;&nbsp; " + $("#commentInput").val() + "</span><br/><br/>");
	            $("#commentInput").val("");
	        });

		});
	}.call(this));
  </script>

</html>