<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

	<div class='container' style="margin-top: 100px">
		<div class='row'>
		<ol class="breadcrumb">
		  <li><a href="/forum">Home</a></li>
		  <li class="active capitalize"><%=category%></li>
		</ol>
		<div class="well">
			<h2 id='title'>
			</h2>
			<hr/>
			<p id='body'></p>
			<hr/>
			<span id='user'></span>
		</div>
		</div>
	</div>
  </body>

  <script src='/javascripts/jquery-3.1.1.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>

  <script type="text/javascript">
  	(function () {
  		$(function () {
  			$.get('/data/forum-<%=category%>.json').
        		done(function(data){
        			$("#title").text(data.title);
        			$("#body").text(data.body);
        			$("#user").text(data.user);
        		});
		});
	}.call(this));
  </script>

</html>