<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

	<div class='container' style="margin-top: 100px">
		<div class='row'>

		<div class="well">
			<h2 id='title'>
			</h2>
			<hr/>
			<p id='body'></p>
			<hr/>
			<span id='user'></span>
		</div>
		</div>
	</div>
  </body>

  <script src='/javascripts/jquery-3.1.1.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>

  <script type="text/javascript">
  	var forumJson = [{
  		"title":"Homophobia",
		"body":"There two boys in school who are always making fun of me the call me gay.",
		"user":"18/11/16 11:13 user67688"
  	},
  	{
		"title":"Teasing",
		"body":"There is this guy in my class and everyday he calls me names like geek",
		"user":"18/11/16 11:13 user67688"
	},
	{
		"title":"Xenephobia",
		"body":"Everyone in school picks on me just because my mum is from Romania.",
		"user":"18/11/16 11:13 user7675"
	}
  	];
  	(function () {

  		function capitalizeFirstLetter(string) {
		    return string.charAt(0).toUpperCase() + string.slice(1);
		}

  		$(function () {
  			var category = "<%=category%>";

  			if(category === "homophobia"){
  				$("#title").text(forumJson[0].title);
    			$("#body").text(forumJson[0].body);
    			$("#user").text(forumJson[0].user);
			}
			else if(category === "teasing"){
				$("#title").text(forumJson[1].title);
    			$("#body").text(forumJson[1].body);
    			$("#user").text(forumJson[1].user);
			}
			else if(category === "xenephobia"){
				$("#title").text(forumJson[2].title);
    			$("#body").text(forumJson[2].body);
    			$("#user").text(forumJson[2].user);
			}
			else {
				$("#title").text(capitalizeFirstLetter(category));
				$("#body").text("I have been a victim of " + category + ".");
				$("#user").text(forumJson[2].user);
			}

		});
	}.call(this));
  </script>

</html>