<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  </head>
  <body>

	<div class='container' style="margin-top: 65px">
		<div class='row'>

		</div>
	</div>
  </body>

  <script src='/javascripts/jquery-3.1.1.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  <script src="https://use.fontawesome.com/fa5cc9bb29.js"></script>

</html>